In [2]:
import pandas as pd

In [3]:
f=pd.read_csv('Data_jan.csv',low_memory=False)

In [57]:
len(f)

92234

In [64]:
f[(f['cmhk_opt_out']!=f['cmhk_opt_out_sts'])&((f['cmhk_opt_out'].notna())&(f['cmhk_opt_out_sts'].notna()))&(f['是否离网']=='N')][['cmhk_opt_out','cmhk_opt_out_sts','是否离网']]

      cmhk_opt_out cmhk_opt_out_sts 是否离网
126              N                Y    N
1967             N                Y    N
1986             N                Y    N
2173             Y                N    N
3356             Y                N    N
...            ...              ...  ...
89987            N                Y    N
90025            Y                N    N
91209            Y                N    N
91221            N                Y    N
92156            N                Y    N

[251 rows x 3 columns]

In [123]:
len(f['终端号'].unique())

7866

In [122]:
f['终端号'].unique()

array([86597005., 86726003., 35181008., ..., 86629503., 35016261.,
        1341200.])

In [96]:
f[f['asgn_ofr_cd'].isnull()][['ofr_asgn_dt',
'ofr_eff_dt',
'ofr_ent_oult',
'ofr_ent_user_grp',
'ofr_exp_dt',
'ofr_nm']]

,ofr_asgn_dt,ofr_eff_dt,ofr_ent_oult,ofr_ent_user_grp,ofr_exp_dt,ofr_nm
26,NaN,20210116.0,NaN,NaN,20220115,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...
52,NaN,NaN,NaN,NaN,20220115,NaN
67,NaN,20200201.0,NaN,NaN,20220131,Autoext_4G Local 3/6/8/12/20/50GB(UN) Plan Dis...
143,NaN,20200121.0,NaN,NaN,20220120,Autoext_4.5G Share 20/30/50GB Plan Dis $140 fo...
171,NaN,NaN,NaN,NaN,20220110,NaN
...,...,...,...,...,...,...
92210,NaN,20210106.0,NaN,NaN,20220105,CR existing sub + 4G Bay Area plan 1GB(-$70)/ ...
92218,NaN,20210126.0,NaN,NaN,20220125,MKT All sub Discount 21Mbps:-$52+2GB/ 21Mbps10...
92224,NaN,20210121.0,NaN,NaN,20220120,MKT All sub Discount 21Mbps:-$52+2GB/ 21Mbps10...
92225,NaN,20200124.0,NaN,NaN,20220120,Autoext_4G Local 3/6/8/12/20/50GB(UN) Plan Dis...
92228,NaN,20210201.0,NaN,NaN,20220131,MKT All sub Discount 21Mbps:-$52+2GB/ 21Mbps10...

In [89]:
f[['inv_dt_cm_bil',
'inv_dt_cm_usg',
'inv_dt_l1m_bil',
'inv_dt_l1m_usg',
'inv_dt_l2m',
'is_m2m','mlti_sim_cnt']]

,inv_dt_cm_bil,inv_dt_cm_usg,inv_dt_l1m_bil,inv_dt_l1m_usg,inv_dt_l2m,is_m2m,mlti_sim_cnt
0,2021-07-11,2021-07-11,2021-06-11,2021-06-11,2021-05-11,N,1.0
1,2021-07-11,2021-07-11,2021-06-11,2021-06-11,2021-05-11,N,1.0
2,2021-07-01,2021-07-01,2021-06-01,2021-06-01,2021-05-01,N,2.0
3,2021-07-06,2021-07-06,2021-06-06,2021-06-06,2021-05-06,N,1.0
4,2021-07-01,2021-07-01,2021-06-01,2021-06-01,2021-05-01,N,1.0
...,...,...,...,...,...,...,...
92229,2021-07-11,2021-07-11,2021-06-11,2021-06-11,2021-05-11,N,1.0
92230,2021-07-21,2021-07-21,2021-06-21,2021-06-21,2021-05-21,N,1.0
92231,2021-07-21,2021-07-21,2021-06-21,2021-06-21,2021-05-21,N,1.0
92232,2021-07-16,2021-07-16,2021-06-16,2021-06-16,2021-05-16,N,1.0
92233,2021-07-11,2021-07-11,2021-06-11,2021-06-11,2021-05-11,N,1.0

In [130]:
(f['admin_fee_income']-f['admin_fee_income_l1m']).unique()

array([  0,  36, -12, -18,  16,  18,  24], dtype=int64)

In [132]:
f[(f['admin_fee_income']-f['admin_fee_income_l1m'])==-12]

,act_dt,act_rsn,asgn_ofr_cd,asgn_ofr_nm,auto_ext_ind,auto_ext_type,bil_opt_out_sts,bill_cyc,bind_end_dt,bind_prg,...,过去6月主动致电其它运营商次数,过去6月内地活跃总天数,过去6月到访门店次数,过去6月国外活跃总天数,过去6月当月国际漫游活跃天数,过去6月当月大陆漫游活跃天数,过去6月当月数据用量,过去6月当月本地活跃天数,过去6月当月语音用量,过去6月本地活跃总天数
853,20010802,New Activation,CRAUTO10%($25)_12M,CR Autoext 10%+$25 reb for 108P/>(A/BS/V/KS/BM...,Y,NaN,N,1,2022-01-31,CR Autoext 10%+$25 reb for 108P/>(A/BS/V/KS/BM...,...,0,0,0,21,0,0,0,0,0,0
3908,20051212,Settled Outstanding Balance,CRAUTO$100RB$5$50,CR Autoext $100REB+$5rbt for $50P(12m),Y,NaN,N,3,2022-01-10,CR Autoext $100REB+$5rbt for $50P(12m),...,0,0,0,3,0,0,0,0,0,0
4248,20100602,New Activation,CRAUTOLITE128_$52DIS_12M,CR Autoext $52 mthly discount for 3GSN128 / Li...,Y,NaN,N,1,2022-01-31,CRAutoext$52mthlyDis 3GSN128/LiteData128 x12m,...,0,0,0,1,0,0,0,0,0,3
12435,20070117,New Activation,NaN,NaN,Y,NaN,N,4,2022-01-15,CR Autoext 4G289Pro plan discount for 12m,...,0,0,0,19,3,0,20,0,0,0
13737,19970515,Lost Phone/SIM,CRAUTOLITE128_$52DIS_12M,CR Autoext $52 mthly discount for 3GSN128 / Li...,Y,NaN,N,3,2022-01-10,CRAutoext$52mthlyDis 3GSN128/LiteData128 x12m,...,0,0,0,0,0,0,167880,5,0,12
15942,20101220,Settled Outstanding Balance,CRAUTO4G199PROPLANDIS12M,CR Autoext 4G199Pro plan discount for 12m,Y,NaN,N,4,2022-01-15,CR Autoext 4G199Pro plan discount for 12m,...,0,0,1,0,0,0,0,0,0,102
16626,19990214,Lost Phone/SIM,CRAUTO$400RB10%$288(12M),CR Autoext $400REB+10% dis for $288P(12m),Y,NaN,N,3,2022-01-10,CR Autoext $400REB+10% dis for $288P(12m),...,0,0,0,0,0,0,0,0,0,0
17093,20020613,Lost Phone/SIM,CRAUTO$400RB10%$288(12M),CR Autoext $400REB+10% dis for $288P(12m),Y,NaN,N,3,2022-01-10,CR Autoext $400REB+10% dis for $288P(12m),...,0,0,0,0,0,0,0,0,973,7
17694,20140803,NaN,CRAUTO4G199-369DOUBDATA18M,CR Autoext 4G199-369 dis + double datax18m,Y,NaN,N,1,2022-01-31,CR Autoext 4G199-369 dis + double datax18m,...,0,0,0,0,0,0,0,0,0,0
21450,20040210,Settled Outstanding Balance,CRAUTOLITEDATA128_DISX12M,CR Autoext Lite Data 128 Plan Mthly Fee Dis+15...,Y,NaN,N,2,2022-01-05,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...,...,0,3,0,0,0,0,0,0,0,31
21711,20150118,New Activation,CRAUTOLITEDATA128_DISX12M,CR Autoext Lite Data 128 Plan Mthly Fee Dis+15...,NaN,NaN,NaN,4,2022-01-15,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...,...,0,0,0,0,0,0,6083625,0,163,0
31074,20081206,Settled Outstanding Balance,NaN,NaN,Y,NaN,N,2,"2022-01-05,2021-08-05","CR Autoext 4G/3G Plan discount x12m_Remaining,...",...,0,0,0,85,8,0,0,0,0,0
32971,20121221,Settled Outstanding Balance,NaN,NaN,NaN,NaN,NaN,5,2022-01-20,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...,...,0,0,0,0,0,0,0,0,0,0
34776,20150108,Settled Outstanding Balance,CRAUTOLITEDATA128_DISX12M,CR Autoext Lite Data 128 Plan Mthly Fee Dis+15...,Y,NaN,N,2,2022-01-05,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...,...,0,0,3,0,0,0,9971735,9,34,70
37821,20130205,Settled Outstanding Balance,CRAUTOLITE128_$52DIS_12M,CR Autoext $52 mthly discount for 3GSN128 / Li...,Y,NaN,N,1,2022-01-31,CRAutoext$52mthlyDis 3GSN128/LiteData128 x12m,...,0,182,0,0,0,28,0,0,0,0
45062,20131215,New Activation,CRAUTOLITE128_$52DIS_12M,CR Autoext $52 mthly discount for 3GSN128 / Li...,Y,NaN,N,3,2022-01-10,CRAutoext$52mthlyDis 3GSN128/LiteData128 x12m,...,0,0,1,9,0,0,0,0,0,68
52353,20111106,Lost Phone/SIM,NaN,NaN,Y,NaN,N,2,2022-01-05,CR Autoext 3G/R4G Plan Mthly Fee Discount for ...,...,0,0,0,0,0,0,19,0,0,2
73752,20120315,Request by subscriber,N_4GLC(UN)DIS$70X24M_AUTO_RM,Autoext_4G Local 3/6/8/12/20/50GB(UN) Plan Dis...,Y,NaN,N,3,2022-01-10,CRAutoext$52mthlyDis 3GSN128/LiteData128 x12m,...,0,22,2,0,0,10,562342,11,152,24
79335,20010413,Lost Phone/SIM,CRAUTO$300RB10%$188(12M),CR Autoext $300REB+10% dis for $188P(12m),Y,NaN,N,3,2022-01-10,CR Autoext $300REB+10% dis for $188P(12m),...,0,0,0,0,0,0,0,2,538,16
79417,20150116,New Activation,CRAUTOLITEDATA128_DISX12M,CR Autoext Lite Data 128 Plan Mthly Fee Dis+15...,Y,NaN,N,4,2022-01-15,CR Autoext Lite Data 128 Plan Mthly Fee Dis fo...,...,0,0,3,0,0,0,9060909,29,328,161

In [91]:
f[['ofr_asgn_dt',
'ofr_eff_dt',
'ofr_ent_oult',
'ofr_ent_user_grp',
'ofr_exp_dt',
'ofr_nm']]

,ofr_asgn_dt,ofr_eff_dt,ofr_ent_oult,ofr_ent_user_grp,ofr_exp_dt,ofr_nm
0,20220106.0,20200111.0,P99995000,IT,20220110,CR Autoext 3GSN plan discount & waive MTRx 24m
1,20220106.0,20200111.0,P99995000,IT,20220110,CR Autoext 3GSN plan discount & waive MTRx 24m
2,20211019.0,20200201.0,NF1780,客戶挽留,20220131,MKT Exis Free Admin fee + Free 10G Bay Area da...
3,20220101.0,20210106.0,P99995000,IT,20220105,CR Autoext $35/850min & waive MTR x 12m
4,20220126.0,20200201.0,P99995000,IT,20220131,CR Autoext 3GSN plan discount & waive MTRx 24m
...,...,...,...,...,...,...
92229,20220106.0,20200111.0,P99995000,IT,20220110,MKT Existing Sub 4.5G Local 6GB(-$100+Bay1GB)/...
92230,20220116.0,20210121.0,P99995000,IT,20220120,Autoext_4G Basic $68 Plan Dis $20 for 12mth_Ne...
92231,20220116.0,20210121.0,P99995000,IT,20220120,Autoext_4G Basic $68 Plan Dis $20 for 12mth_Ne...
92232,20211015.0,20200116.0,NF1893,客戶挽留,20220115,CR Autoext 42MbpsPlan $32 discount x24m_Remaining
92233,20220106.0,20200111.0,P99995000,IT,20220110,CR 4G Greater China plan with Dis $90-$130 & E...

In [50]:
f.iloc[4][['def']]

def    Mobile-人用
Name: 4, dtype: object

In [103]:
f[f['deact_dt'].notnull()][['act_dt','bind_end_dt','deact_dt','deact_rsn','dum_cntc_bind_end_dt','pend_deact_dt','reason_type']]

,act_dt,bind_end_dt,deact_dt,deact_rsn,dum_cntc_bind_end_dt,pend_deact_dt,reason_type
36,20200131,2022-01-25,20220125.0,MNP-Not Mentioned/Unreachable,"2022-01-25,2022-01-25,2022-01-25,2022-01-25,20...",NaN,Port_Out
48,20080122,2022-01-20,20220118.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
60,20071104,2022-01-31,20220127.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
69,20200119,2022-01-15,20220118.0,MNP-Not Mentioned/Unreachable,2022-01-15,NaN,Port_Out
80,20080909,2022-01-05,20220105.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
...,...,...,...,...,...,...,...
92179,20180122,2022-01-20,20220120.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
92191,20160917,2022-01-15,20220115.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
92216,20150109,2022-01-05,20220104.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
92220,20160611,"2022-01-10,2021-11-10",20220108.0,MNP-Not Mentioned/Unreachable,NaN,NaN,Port_Out
92225,20200124,2022-01-20,20220116.0,MNP-Not Mentioned/Unreachable,"2022-01-20,2022-01-20,2022-01-20",NaN,Port_Out

In [56]:
len(f[f['asgn_ofr_nm'].isnull()])+len(f[f['asgn_ofr_nm'].notna()])

92234

In [60]:
f['auto_ext_ind'].unique()

array(['Y', nan, 'N'], dtype=object)

In [1]:
len(f[f['act_rsn'].notna()])

NameError: name 'f' is not defined